.mt-1 {
    margin-top: 10;
}
.mt-2 {
    margin-top: 20;
}
.mt-3 {
    margin-top: 30;
}
.mt-4 {
    margin-top: 40;
}
.mt-5 {
    margin-top: 50;
}

.mb-1 {
    margin-bottom: 10;
}
.mb-2 {
    margin-bottom: 20;
}
.mb-3 {
    margin-bottom: 30;
}
.mb-4 {
    margin-bottom: 40;
}
.mb-5 {
    margin-bottom: 50;
}


.ms-1 {
    margin-left: 10;
}
.ms-2 {
    margin-left: 20;
}
.ms-3 {
    margin-left: 30;
}
.ms-4 {
    margin-left: 40;
}
.ms-5 {
    margin-left: 50;
}

.me-1 {
    margin-right: 10;
}
.me-2 {
    margin-right: 20;
}
.me-3 {
    margin-right: 30;
}
.me-4 {
    margin-right: 40;
}
.me-5 {
    margin-right: 50;
}

.m-1 {
    margin: 10;
}
.m-2 {
    margin: 20;
}
.m-3 {
    margin: 30;
}
.m-4 {
    margin: 40;
}
.m-5 {
    margin: 50;
}