<!-- ---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
--- -->

<header>
    <div>
        <img src="https://imgtr.ee/images/2023/10/02/7133b1edd6d95683a8723f1841b14e9b.png" width="50" height="40"  >
    </div>
    <div>
        <nav>
            <ul>
                <li><a href="./" >Home</a></li>
                <li><a href="./" >Content</a></li>
                <li><a href="./" >About</a></li>
            </ul>
        </nav>
    </div>
</header>